# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /
<IfModule mod_rewrite.c>
  RewriteEngine On
  #RewriteCond %{REQUEST_URI} !^/Photo-Album/content/.*$
  RewriteCond %{REQUEST_URI} !^/content/.*$
  RewriteCond %{REQUEST_URI} !^/favicon\.ico$
  RewriteRule ^ index.php
</IfModule>
