.navbar .brand {
    max-height: 50px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar a.navbar-brand {
    padding: 0px 15px 0px;
}

.bs-example{
    margin-top: 20px;
}

.album-list {
    /*min-height: 180px;*/
    overflow: hidden;
}

.album-list img{
    /*height: 100%;*/
    /*width: 100%;*/
}

.modal-width {
    width: 400px;
}

.img-responsive, .thumbnail > img,
.thumbnail a > img, .carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    max-height: 200px;
    width: auto;
}